$blue: #2E63A4;
$yellow: #FFCE00;
$lightBlue: #60BFF5;
$brown: #AF6528;
$red: #D70000;
@font-face {
    font-family: "myRosean";
    src: url(Rosean.ttf) format(truetype);
}
body {
    background-image: url("onepiecebackground.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "myRosean";
    margin: 0;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 30px;
    width: auto;
} /* Nav Bar */
header {
    background-color: #AF6528;
    height: 65px;
    position: sticky;
    top: 0;
}
#navLogo {
    height: 18px;
}
.tabletDesktopNav {
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5px;
}
h1 {
    font-size: 25px;
    text-wrap: no-wrap;
    top: 10px;
}
/* curtain */
.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $brown;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.6s ease-in-out;
    z-index: 10;
}
.curtain-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.curtain-menu a {
    margin: 0px;
    padding: 30px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    
}
.menu-toggle {
    display: none;
}
.menu-toggle:checked ~ .curtain {
    height: 100vh;
}
.menu-icon {
    font-size: 50px;
    display: block;
    margin-right: 15px;
}
/* Calculator */
.calc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
.calculator {
    display: grid;
    grid-template-columns: auto;
    width: 340px;
    border: 2px solid black;
    margin:10px;
    background-color: $blue;
    padding: 5px;
    border-radius: 30px;
}
.display {
    border: 2px solid black;
    height: 80px; 
    border-radius: 25px;
    background-color: $lightBlue;
    margin: 5px;
    text-align: right;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    font-size: 20px;
}
.number,
#plusmn,
#decimal {
    background-color: $lightBlue;
}
.operation,
.number,
.equal {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50%;
    margin: 2px;
}
#rightColumnBtn {
    background-color: $yellow;
}
#backspace,
#clear,
#percentage {
    background-color: $brown;
}
.equal {
    background-color: $red;
}

@media (min-width: 700px){
h2 {
    font-size: 40px;
}
    .calculator {
    width: 400px;
    height: 600px;
}
.display {
    height: 125px;
}
.buttons {
    font-size: 20px;
    margin: 0;
}
}